@model SimplyCooking.Models.IndexViewModel
@{
    ViewBag.Title = "Mój profil";
}

<div class="container" style="background-color: rgba(255,255,255,0.5); ">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Zmień hasło:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
       </dl>
    </div>

    @*<b>Moje przepisy:</b>

    @foreach (var item in Model)
    {
        if (@item.Photos.FirstOrDefault() != null)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Recipes", new { id = item.RecipeID })">
                        <img src="/Recipes/RetrieveImage/@item.Photos.First().PhotoId" alt="Lights" style="width:100%; height:150px" />
                        <img src="@Url.Content("https://akademiasmaku.pl/upload/recipes/2311/big/omlet-z-serem-i-szynka-2311.jpg")" alt="Lights" style="width:100%; height:150px">
                        <div class="caption">
                            <center> <p>@Html.DisplayFor(modelItem => item.Name)</p></center>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Recipes", new { id = item.RecipeID })">

                        <img src="@Url.Content("https://akademiasmaku.pl/upload/recipes/2311/big/omlet-z-serem-i-szynka-2311.jpg")" alt="Lights" style="width:100%; height:150px">
                        <div class="caption">
                            <center> <p>@Html.DisplayFor(modelItem => item.Name)</p></center>
                        </div>
                    </a>
                </div>
            </div>

        }
    }*@
</div>
            
