@model SimplyCooking.Models.Recipe

@{
    ViewBag.Title = "Dodaj przepis";
}


 

<<<<<<< HEAD

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Dodaj przepis</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> <h4>Nazwa przepisu</h4></div>
        <div class="col-md-10">

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
=======
@using (Html.BeginForm())
  
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj przepis</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569
        </div>
    </div>

<<<<<<< HEAD
    <div class="form-group">
        <div class="control-label col-md-2"> <h4>Sposób przygotowania</h4></div>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-text" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
=======
        <div class="form-group">
            <div class="control-label col-md-2"> <h4>Nazwa przepisu</h4></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569
        </div>
    </div>

<<<<<<< HEAD
    
    <div class="form-group">
        <div class="control-label col-md-2"> <h4>Składniki</h4></div>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Component , new { @class = "form-text" })
            @Html.ValidationMessageFor(model => model.Component, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        <div class="control-label col-md-2"> <h4>Dodaj zdjęcie</h4></div>
        <div class="col-md-10">
            <form action="..." enctype="multipart/form-data" >
                <input  type="file" name="nazwa" />
            </form>
=======
        @*<div class="form-group">
                <div class="control-label col-md-2"> <h4>Zdjęcie przepisu</h4></div>
                <div class="col-md-10">

                    <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                </div>
            </div>*@

        <div class="form-group">
            <div class="control-label col-md-2"> <h4>Sposób przygotowania</h4></div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> <h4>Składniki</h4></div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Component, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Component, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <div class="control-label col-md-2"> <h4>Dodaj zdjęcie</h4></div>
            <div class="col-md-10">
                <form action="..." enctype="multipart/form-data" >
                    <input  type="file" name="nazwa" />
                </form>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj przepis" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<<<<<<< HEAD




=======
>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569
<div>

    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Powrót</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
