@model SimplyCooking.Models.Recipe

@{
    ViewBag.Title = "Details";
}



<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Pora posiłku
        </dt>

        <dd>
            @if (Model.TypeofdishesID == 1)
            {


                string wynik = "śniadanie";

                @Html.Raw(wynik);
            }


            @if (Model.TypeofdishesID == 2)
            {
                string wynik = "Obiad";

                @Html.Raw(wynik);
            }

              @if (Model.TypeofdishesID == 3)
            {
                string wynik = "Kolacja";

                @Html.Raw(wynik);
            }



        </dd>

        <dt>
           Kuchnia
        </dt>

        <dd>
           

            @if (Model.TypeofmealsID == 1)
            {


                string wynik = "tajska";

        @Html.Raw(wynik);
}


            @if (Model.TypeofmealsID == 2)
            {
                string wynik = "włoska";

        @Html.Raw(wynik);
}

            @if (Model.TypeofmealsID == 3)
            {
                string wynik = "Chińska";

        @Html.Raw(wynik);
}

        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |*@
    <button type="button" onclick="location.href='@Url.Action("Edit", "Recipes", new { id = Model.RecipeID })'">Edytuj</button> |
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Powrót</button>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<div class="container">

    <img src="https://www.zajadam.pl/wp-content/uploads/hamburger-przepis.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

</div>
