@model SimplyCooking.Models.Recipe

@{
    ViewBag.Title = "Details";
}



<h2>Szczegóły przepisu</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeofdishesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeofdishesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeofmealsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeofmealsID)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |*@
    <button type="button" onclick="location.href='@Url.Action("Edit", "Recipes", new { id = Model.RecipeID })'">Edytuj</button> |
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Powrót</button> 
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<div class="container">

    <img src="https://www.zajadam.pl/wp-content/uploads/hamburger-przepis.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

</div>
